/*practicing styles*/

body {
	background-color: grey;
	color: cyan;

}
h1 {
	font-family: Chiller;
	text-decoration: underline;
}

img {
	width: 10%;
	height: 15%;
}

a {
	text-decoration: none;
}

ul li {
	list-style-type: none;
}